.bodyBg {
    margin: 0;
    height: 100vh;
  overflow-y: auto;
  overflow-x: hidden;
  perspective: 10px;
}

.background {
    background-image: url('../../assets/background.jpg');
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    background-repeat: repeat-y;
    background-color: rgba(0,0,0,.8);
    background-blend-mode: darken;
    position: absolute;
    height: 100%;
    width: 100%;
    object-fit: cover;
    z-index: -1;
    transform: translateZ(-50px) scale(15);
    filter:blur(2px)
}

/* .backdrop {
    backdrop-filter: blur(5px);
} */

.heading {
    color: lightgoldenrodyellow;
}
